body{
	background-color: #fff;
	margin-left: 0vw;
	margin-right: 0vw;
	margin-top: 0vh;
	margin-bottom: 0vh;
}

.section1 {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	vertical-align: center;
	margin-top: 0vh;
	text-align: center;
}

.headpic {
	height: 50vh;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5vh;
	display: block;
}

h1 {
	font-family: 'josefin slab';
	font-weight: 300;
	font-size: 10vh;
	color: #fff;
	line-height: 9vh;
	margin-top: 2vh;
}

h2 {
    font-family: 'raleway', sans-serif;
    font-size: 2vh;
    font-weight: 100;
    color: #fff;
    letter-spacing: .25vw;
    margin-top: -3vh;
}

.arrow {
	height: 1vh;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4vh;
}

.section2 {
	background-color: #fff;
	width: 100vw;
	height: 100vh;
}

p {
	color: #000;
	font-family: 'raleway';
	font-weight: 200;
	text-align: center;
	font-size: 3vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 2vw;
	padding-right: 2vw;
}