@viewport {
  width: device-width;
  zoom: 1;
}

body {
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  margin-top: none;
  margin-bottom: none;
  padding: none;
}

.header {
  height: 23vw;
  width: 100vw;
  background-color: #fff;
}

h1 {
	font-family: 'josefin slab', serif;
	font-size: 5.75vw;
	font-weight: 300;
  color: #000;
  margin-top: 7vw;
  display: inline-block;
}

h2 {
    font-family: 'raleway', sans-serif;
    font-size: 1.25vw;
    font-weight: 100;
    color: #000;
    margin-top: -4vw;
    letter-spacing: .25vw;
}

.aboutpiccontainer {
  height: 38vw;
  width: 38vw;
  background-color: none;
  margin-top: 0;
  display: inline-block;
  float: left;
}

.aboutpic {
  width: 30vw;
  padding-top: 4vw;
  padding-left: 4vw;
}

.abouttextcontainer {
  height: 38vw;
  width: 62vw;
  background-color: none;
  margin-top: 0;
  display: inline-block;
  float: left;
}

.abouttext {
  font-family: 'raleway';
  font-weight: 100;
  font-size: 1.75vw;
  font-weight: 300;
  padding-left: 1vw;
  padding-right: 8vw;
}

.construction {
  width: 100vw;
  height: 23vw;
  background-color: none;
  display: inline-block;

}

h3 {
  font-family: 'raleway', sans-serif;
  font-size: 3vw;
  font-weight: 200;
  color: #000;
  letter-spacing: .25vw;
  margin-bottom: -2vw;
}

h4 {
  font-family: 'josefin slab', serif;
  font-size: 2vw;
  font-weight: 300;
  color: #000;
  margin-bottom: 0;
}

h5 {
  font-family: 'josefin slab', serif;
  font-size: 2vw;
  font-weight: 300;
  color: #000;
  margin-top: 0vw;
}

.linkcontainer {
  width: 25vw;
  margin-top: -2vw;
  display: inline-block;
  float: left;
  border: black;
  background-color: none;
  overflow: hidden;

}

.linktext {
  font-family: 'raleway', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  color: #000;
  letter-spacing: .25vw;
}

.resume {
  margin-top: 0;
}
























/* unvisited link */
a:link {
    color: #990000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #990000;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #606060;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #003366;
    text-decoration: none;
}









